@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Roboto", serif;
  /* font-family: "Poppins", fantasy; */
  font-weight: 600;
}

.sm-btn {
  @apply cursor-pointer py-2 px-5 rounded-md;
}


/* Define the border animation */
@keyframes borderAnimation {
  0% {
    border-color: rgba(0, 0, 0, 0);
  }
  50% {
    border-color: rgba(0, 0, 255, 0.459); /* Red color */
  }
  100% {
    border-color: rgba(0, 0, 0, 0); /* Transparent again */
  }
}

.animate-border {
  animation: borderAnimation 2s ease-in-out infinite;
}


/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1B2431; /* Light gray background */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4e46e55d; /* Purple scrollbar */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1b243177; /* Darker shade on hover */
}
